<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入vue -->
    <script src='../js/vue.js'></script>
</head>

<body>
    <!-- 创建一个容器 -->
    <div id='root'>
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <li v-for="(p,index) of people" :key="index">
                {{p.name}}-{{p.age}}
            </li>
        </ul>
        <!-- 遍历对象 -->
        <h2>汽车信息</h2>
        <ul>
            <li v-for="(item, index) in car" :key="index">
                {{item}}
            </li>
        </ul>
    </div>
    <script>
        //阻止vue在启动时生成提示
        Vue.config.productionTip = false
        const vm = new Vue({
            el: '#root',
            data: {
                people: [
                    { id: '001', name: '张三', age: 18 },
                    { id: '002', name: '李四', age: 19 },
                    { id: '003', name: '王五', age: 20 },
                ],
                car: {
                    name: 'BMW',
                    price: '100w',
                    color: 'black',
                },
            },
        })
    </script>
</body>

</html>