<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 引入vue -->
    <script src='../js/vue.js'></script>
</head>

<body>
    <!-- 创建一个容器 -->
    <div id='root'>
        <h2>人员列表</h2>
        <input type="text" v-model="keyword" placeholder="请输入名字">
        <ul>
            <li v-for="(p,index) of filPeople" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>
    <script>
        //阻止vue在启动时生成提示
        Vue.config.productionTip = false
        const vm = new Vue({
            el: '#root',
            data: {
                keyword: '',
                people: [
                    { id: '001', name: '马冬梅', age: 19, sex: '女' },
                    { id: '002', name: '周冬雨', age: 20, sex: '女' },
                    { id: '003', name: '周杰伦', age: 21, sex: '男' },
                    { id: '004', name: '温兆伦', age: 22, sex: '男' },
                ],
            },
            /* watch: {
                keyword: {
                    immediate: true,
                    handler(newValue) {
                        this.filPeople = this.people.filter((p) => {
                            return p.name.indexOf(newValue) !== -1
                        })
                    }
                }
            } */
            computed: {
                filPeople() {
                    return this.people.filter((p)=>{
                        return p.name.indexOf(this.keyword) !== -1
                    })
                }
            }
        })
    </script>
</body>

</html>